body {
	background-color: var(--off-white);
}

/* Collapsing Margins*/
/* Collapsing Margins vermeiden */

h3,
h4,
h5,
h6,
p,
ul,
ol,
blockquote {
	margin: 0;
}

Border Box *,
*::before,
*::after {
	box-sizing: border-box;
}

.site-wrapper {
	display: flex;
	flex-direction: column;
	/*  https://ishadeed.com/article/new-viewport-units/ */
	min-height: 100dvh;
	background-color: var(--background-color);
}

.site-content {
	flex-grow: 1;

	margin-inline: auto;
	width: 100%;
}

.content-width {
	margin-inline: auto;
	width: 100%;

	&:where(.content-width--s) {
		max-width: var(--max-width-s);
	}

	&:where(.content-width--m) {
		max-width: var(--max-width-m);
	}

	&:where(.content-width--l) {
		max-width: var(--max-width-l);
	}
}

/* Klassen für Elemente, die aus ihrem Container ausbrechen sollen,
z.B. über die volle Breite der Seite. Geeignet für ein einspaltiges
Layout mit in der Mitte zentriertem und in der Breite begrenztem
Hauptinhalt. */

.custom-width {
	width: 100vw;
	translate: -50%;
	margin-inline-start: 50%;

	&:where(.custom-width--s) {
		max-width: var(--max-width-s);
	}

	&:where(.custom-width--m) {
		max-width: var(--max-width-m);
	}

	&:where(.custom-width--l) {
		max-width: var(--max-width-l);
	}

	&:where(.custom-width--xl) {
		max-width: var(--max-width-xl);
	}

	&:where(.custom-width--full) {
		max-width: 100vi;
	}
}
