body {
	background-color: var(--off-white);
}

.cursor {
	position: fixed;
	width: 50px;
	height: 50px;
	background: none;
	pointer-events: none;
	z-index: 1000;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: translate(
		-25px,
		-25px
	); /* Das Auge ist auf den Cursor ausgerichtet */
}
#iris {
	fill: var(--off-black); /* Deine gew端nschte Iris-Farbe */
	transition: transform 0.1s ease-out; /* Sanfte Bewegung der Iris */
}

/* Collapsing Margins*/
/* Collapsing Margins vermeiden */

h3,
h4,
h5,
h6,
p,
ul,
ol,
blockquote {
	margin: 0;
}

Border Box *,
*::before,
*::after {
	box-sizing: border-box;
}

.site-wrapper {
	display: flex;
	flex-direction: column;
	/*  https://ishadeed.com/article/new-viewport-units/ */
	min-height: 100dvh;
	background-color: var(--background-color);
}

.site-content {
	flex-grow: 1;

	margin-inline: auto;
	width: 100%;
}

.content-width {
	margin-inline: auto;
	width: 100%;

	&:where(.content-width--s) {
		max-width: var(--max-width-s);
	}

	&:where(.content-width--m) {
		max-width: var(--max-width-m);
	}

	&:where(.content-width--l) {
		max-width: var(--max-width-l);
	}
}

/* Klassen f端r Elemente, die aus ihrem Container ausbrechen sollen,
z.B. 端ber die volle Breite der Seite. Geeignet f端r ein einspaltiges
Layout mit in der Mitte zentriertem und in der Breite begrenztem
Hauptinhalt. */

.custom-width {
	width: 100vw;
	translate: -50%;
	margin-inline-start: 50%;

	&:where(.custom-width--s) {
		max-width: var(--max-width-s);
	}

	&:where(.custom-width--m) {
		max-width: var(--max-width-m);
	}

	&:where(.custom-width--l) {
		max-width: var(--max-width-l);
	}

	&:where(.custom-width--xl) {
		max-width: var(--max-width-xl);
	}

	&:where(.custom-width--full) {
		max-width: 100vi;
	}
}
