.logo,
nav ul li {
	transition: all var(--ease-out-back-duration-2) var(--ease-out-back-timing-1);
	transform-origin: 0% 100%;
	cursor: pointer;
}

.logo:hover,
nav ul li:hover {
	transform: scale(1.16);
}

nav {
	display: flex;
	width: 100%;
	position: fixed;
	top: 0;
	justify-content: space-between;
	background: var(--off-white);
	border: 2px solid var(--off-black);
	backdrop-filter: blur(8px);
	padding: var(--space-s) var(--space-xl);
	z-index: 1;

	ul {
		display: flex;
		gap: var(--space-s);
		list-style-type: none;
		padding: 0;

		li {
			a {
				text-decoration: none;
				color: var(--off-black);
				transition: all var(--ease-out-back-duration-2)
					var(--ease-out-back-timing-1) !important;

				&:visited {
					text-decoration: none;
					cursor: pointer;
				}

				&.active-page {
					color: var(--primary-dark) !important; /* Stil für die aktive Seite */
				}
			}
		}
	}
}

@media (--small) {
	.logo {
		width: 75%;
	}
	nav {
		padding: var(--space-xs) var(--space-xs);
		top: auto;
		bottom: 0;
	}
}
