.contact {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: calc(100dvh - 70px - var(--space-m));
	padding: 0 var(--space-xl) var(--space-xl) var(--space-xl);

	h4 {
		margin-bottom: var(--space-s);
	}

	.contact__content {
		display: flex;
		justify-content: space-between;
		gap: var(--space-s);
		align-items: start;
		button {
			background-color: var(--primary-light);
		}
		h4 {
			color: var(--primary-dark);
		}
	}

	.contact__intro {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
		gap: var(--space-s);
		justify-content: flex-end;

		text-align: left;
		justify-content: space-between;

		border-radius: var(--space-xs);
		color: var(--text-color__dark);

		h1 {
			color: var(--off-black);
			text-shadow: none;
		}
	}

	.contact__text {
		grid-column: 1/4;
		display: flex;
		flex-direction: column;
		gap: var(--space-s);
		border: 2px solid var(--primary);
		border-radius: var(--space-xs);
		color: var(--text-color);
		padding: var(--space-l);
		justify-content: space-between;

		h2 {
			color: var(--primary-dark);
		}
		p {
			color: var(--off-black);
		}
	}

	.contact__socials-container {
		grid-column: 4/7;
		border-radius: var(--space-xs);
		padding: var(--space-l);
		background-color: var(--primary-light);
		h4 {
			margin: 0 0 var(--space-s) 0;
		}
	}
	.contact__socials {
		display: flex;
		gap: var(--space-xs);
	}
}

.imprint {
	grid-column: 3/4;
	display: flex;
	justify-content: end;
	height: 100%;
	align-items: end;
}

.imprint__container {
	margin: var(--space-3xl);
	h1 {
		margin-bottom: var(--space-2xl);
	}
	h2 {
		margin-bottom: var(--space-2xs);
	}
	p {
		margin-bottom: var(--space-xl);
	}
	h3 {
		margin-bottom: var(--space-2xs);
	}
}

@media (--medium) {
	.contact {
		.contact__text {
			grid-column: 1/4;
		}
	}
}

@media (--small) {
	.contact {
		height: 100%;
		padding: var(--space-s);
		margin-bottom: calc(60px);
		.contact__text {
			padding: var(--space-s);
		}
		.contact__content {
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
			gap: var(--space-s);
			margin-top: var(--space-s);
		}
		.contact__intro {
			display: flex;
			flex-direction: column;
		}
		.contact__socials {
			justify-content: center;
		}
		.contact__socials-container {
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: var(--space-s);
		}
	}
}
