.cta {
	display: flex;
	width: 100%;
	gap: var(--space-s);
}

.cta--right {
	display: flex;
	width: 100%;
	grid-column: 1/7;
	gap: var(--space-s);
}

.cta__text--blue {
	display: flex;
	width: 100%;
	justify-content: space-between;
	border: solid 2px var(--quaternary);
	align-items: center;
	color: var(--quaternary-dark);
	gap: var(--space-s);
	border-radius: var(--space-xs);
	padding: var(--space-l);
	button {
		background-color: var(--quaternary-light);
	}
}

.cta__text--red {
	display: flex;
	width: 100%;
	justify-content: space-between;
	border: solid 2px var(--tertiary);
	align-items: center;
	color: var(--tertiary-dark);
	gap: var(--space-s);
	border-radius: var(--space-xs);
	padding: var(--space-l);
	button {
		background-color: var(--tertiary-light);
	}
}

.cta__text--green {
	border: solid 2px var(--secondary);
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: var(--space-xs);
	padding: var(--space-l);
	gap: var(--space-s);
	color: var(--secondary-dark);
	button {
		background-color: var(--secondary-light);
		color: var(--off-black);
	}
	.icon__cta {
		color: var(--off-black);
	}
}

@media (--medium) {
	.cta--right {
		width: 100%;
	}
	.cta__text--green {
		align-items: center;
	}
	.cta__text--blue {
		align-items: center;
	}
	.cta__text--red {
		align-items: center;
	}
}

@media (--small) {
	.cta {
		width: 100%;
		align-items: center;
		text-align: center;
		.cta__text--green {
			width: 100%;
		}
	}
	.cta--right {
		width: 100%;
	}
	.cta__text--green {
		padding: var(--space-s);
		align-items: center;
	}
	.cta__text--blue {
		align-items: center;
		padding: var(--space-s);
	}
	.cta__text--red {
		align-items: center;
		padding: var(--space-s);
	}
}
