.cta {
	display: flex;
	width: 100%;
	gap: var(--space-s);
}

.cta--right {
	display: flex;
	width: 100%;
	grid-column: 1/7;
	gap: var(--space-s);
}

.cta__text--blue {
	display: flex;
	width: 100%;
	justify-content: space-between;
	border: solid 2px var(--off-black);
	align-items: center;

	gap: var(--space-s);

	padding: var(--space-l);
}

.cta__text--red {
	display: flex;
	width: 100%;
	justify-content: space-between;
	border: solid 2px var(--off-black);
	align-items: center;

	gap: var(--space-s);

	padding: var(--space-l);
}

.cta__text--green {
	border: solid 2px var(--off-black);
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: var(--space-l);
	gap: var(--space-s);

	.icon__cta {
		color: var(--off-black);
	}
}

@media (--medium) {
	.cta--right {
		width: 100%;
	}
	.cta__text--green {
		align-items: center;
	}
	.cta__text--blue {
		align-items: center;
	}
	.cta__text--red {
		align-items: center;
	}
}

@media (--small) {
	.cta {
		width: 100%;
		align-items: center;
		text-align: center;
		.cta__text--green {
			width: 100%;
		}
	}
	.cta--right {
		width: 100%;
	}
	.cta__text--green {
		padding: var(--space-s);
		align-items: center;
	}
	.cta__text--blue {
		align-items: center;
		padding: var(--space-s);
	}
	.cta__text--red {
		align-items: center;
		padding: var(--space-s);
	}
}
