.intro {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	gap: var(--space-s);
	border-radius: var(--space-xs);
	padding: var(--space-l) var(--space-xl) var(--space-l) var(--space-xl);

	.intro__color--red {
		display: flex;
		flex-direction: column;
		background-color: var(--tertiary-light);
		border-radius: var(--space-xs);
		grid-column: 4/7;
		color: var(--text-color__dark);
		padding: var(--space-l);
		gap: var(--space-xs);
	}

	.intro__border--red {
		border: 2px solid var(--tertiary);
		border-radius: var(--space-xs);
		grid-column: 1/4;
		margin: 0;
		padding: var(--space-l);
		h3 {
			color: var(--tertiary-contrast);
		}
	}

	h2 {
		border: 2px solid var(--tertiary);
		border-radius: var(--space-l) var(--space-l) var(--space-l) 0;

		margin: 0;
		color: var(--tertiary-contrast);
		padding: var(--space-l);
	}
}

@media (--medium) {
	.intro__primary {
		display: flex;
		flex-direction: column;
	}
}

@media (--small) {
	.intro {
		display: flex;
		flex-direction: column;
		padding: var(--space-l) var(--space-s) var(--space-l) var(--space-s);
		.intro__border--red {
			padding: var(--space-s);
		}
		.intro__color--red {
			padding: var(--space-s);
		}
		h2 {
			padding: var(--space-s);
		}
	}
}
