.landing {
	height: 100dvh;
	display: flex;
	flex-direction: column;
	padding: calc(70px + var(--space-m)) var(--space-xl) var(--space-xl);
	justify-content: space-between;
	overflow: auto;
	gap: var(--space-l);

	.landing__tilegrid {
		display: flex;
		gap: var(--space-s);
		align-items: flex-start;
		width: 100%;
		flex-wrap: wrap;
	}

	.landing-sub__content {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
		gap: var(--space-s);
		align-items: end;

		h1 {
			grid-column: 1 / 4;
		}

		.landing-sub__text {
			background-color: var(--primary-light);
			border-radius: var(--space-xs);
			padding: var(--space-l);
			display: flex;
			flex-direction: column;
			gap: var(--space-s);
			justify-content: flex-end;
			grid-column: 4/7;
			text-align: left;
			color: var(--text-color__dark);
			h2 {
				color: var(--primary-contrast);
			}
		}
	}

	.landing-main__content {
		width: 100%;
		h1 {
			color: var(--off-black);

			text-shadow: none;
		}
	}
}

@media (--medium) {
	.landing {
		.landing__tilegrid {
			gap: var(--space-xs);
		}

		.landing-main__content {
			width: 100%;
		}
	}
}

@media (--small) {
	.landing {
		height: calc(100dvh - 60px);
		padding: var(--space-s);

		.landing__tilegrid {
			gap: var(--space-3xs);
		}

		.landing-sub__content {
			grid-template-columns: 1fr;
			gap: var(--space-s);
			h1 {
				grid-column: 1;
			}
			.landing-sub__text {
				grid-column: 1;

				padding: var(--space-s);
			}
		}

		.landing-main__content {
			width: 100%;
			align-items: center;
			img {
				width: auto;
			}
		}
	}
}
