.mediagrid__2-col {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	gap: var(--space-xl) var(--space-s);
}

.mediagrid__3-col {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-column: 1/7;
	gap: var(--space-s);
	width: 100%;
}

.tilegrid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	flex-wrap: wrap;
	gap: var(--space-s);
	align-items: flex-start;
	overflow: hidden;

	.tile {
		grid-column: 1fr;
		position: relative;
		aspect-ratio: 1;
		display: flex;
		flex-direction: column;
		align-items: stretch;
		border-radius: var(--space-2xs);
		overflow: hidden;

		h4 {
			color: var(--text-color__dark);
			position: absolute;
			text-align: center;
			top: 50%; /* Vertikal zentrieren */
			left: 50%; /* Horizontal zentrieren */
			transform: translate(-50%, -50%); /* Exakte Zentrierung */
		}
		img {
			height: 100%;
			width: 100%;
			object-fit: cover;
			transition: transform 0.3s ease;
		}
	}
}

@media (--medium) {
	.client__tilegrid-tile {
		grid-column: 2 span;
	}
	.tile {
		flex: 1 1 20%;
		max-width: calc(20% - var(--space-s));
		min-width: 108px;
	}
}

@media (--small) {
	.clients {
		margin: var(--space-s);

		.client__tilegrid {
			display: grid;
			grid-template-columns: 1fr 1fr;
			flex-direction: column;
			width: 100%;

			.client__tilegrid-tile {
				width: 100%;
				max-width: 100%;
			}
		}
	}
	.tilegrid {
		display: flex;
		flex-direction: column;
		width: 100%;

		.tile {
			width: 100%;
			max-width: unset;
			min-width: unset;
		}
	}

	.mediagrid__3-col {
		display: flex;
		flex-direction: column;
	}
	.mediagrid__2-col {
		display: flex;
		flex-direction: column;
		gap: var(--space-xl) var(--space-l);
	}
}
