.section {
	display: grid;

	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	border-radius: var(--space-xs);

	.section__intro {
		grid-column: 1/7;
		width: 100%;
	}

	.section__content {
		display: flex;
		flex-direction: column;
		padding: var(--space-l) var(--space-xl) var(--space-l) var(--space-xl);
		gap: var(--space-l);
	}
}

.sticky {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: var(--space-s);
	grid-column: 1/7;
	position: sticky;
	top: 70px;
	padding: var(--space-l) var(--space-xl) var(--space-l) var(--space-xl);
	border-bottom: 2px solid var(--off-black);
	background-color: var(--off-white);
	z-index: 100;
}

.section__intro--red {
	display: flex;
	flex-direction: column;
	width: 100%;
	grid-column: 1/7;

	.big-list__text {
		padding: var(--space-l);
		h4 {
			color: var(--tertiary-contrast);
		}
	}
	p {
		color: var(--text-color__dark);
	}

	.section__intro {
		width: 100%;
		padding: var(--space-l) var(--space-xl) var(--space-l) var(--space-xl);
		border-bottom: 2px solid var(--off-black);
	}
}

.section__intro--blue {
	display: flex;
	flex-direction: column;
	width: 100%;
	grid-column: 1/7;

	.big-list__text {
		padding: var(--space-l);
		h4 {
			color: var(--secondary-contrast);
		}
	}
	p {
		color: var(--text-color__dark);
	}

	.section__intro {
		width: 100%;
		padding: var(--space-l) var(--space-xl) var(--space-l) var(--space-xl);
		border-bottom: 2px solid var(--off-black);
	}
}

.section__intro--beige {
	display: flex;
	flex-direction: column;
	width: 100%;
	grid-column: 1/7;

	.big-list__text {
		padding: var(--space-l);
		h4 {
			color: var(--primary-contrast);
		}
	}
	p {
		color: var(--text-color__dark);
	}

	.section__intro {
		width: 100%;
		padding: var(--space-l) var(--space-xl) var(--space-l) var(--space-xl);
		border-bottom: 2px solid var(--off-black);
	}
}

.section__intro--green {
	display: flex;
	flex-direction: column;
	width: 100%;
	grid-column: 1/7;

	.section__intro {
		background-color: var(--secondary-light);

		padding: var(--space-l);
	}
}

.section__sticky--left {
	display: flex;
	flex-direction: column;

	align-items: start;

	h2 {
		grid-column: 0/4;
	}
	p {
		grid-column: 2/4;
	}
}

.section__text--right {
	display: grid;
	grid-column: 2/4;
	grid-template-columns: 1fr 1fr;
	padding: 0;
	gap: var(--space-xl);
	align-items: start;
}

@media (--medium) {
	.section {
		display: flex;
		flex-direction: column;
		align-items: center;

		.section__intro {
			display: flex;
			flex-direction: column;
		}
	}

	.section__intro--green {
		width: 100%;
	}
	.section__text--right {
		display: grid;
		grid-template-columns: 1fr;
	}
}

@media (--small) {
	.section {
		display: flex;
		flex-direction: column;

		.section__intro {
			display: flex;
			flex-direction: column;
			padding: var(--space-s);
		}

		.section__content {
			padding: var(--space-l) var(--space-s) var(--space-l) var(--space-s);
		}
	}
	.sticky {
		top: 0px;
		padding: var(--space-s);
	}

	.section__intro--green {
		width: 100%;
		.sticky {
			top: calc(58px);
		}
		.big-list__text {
			padding: var(--space-s);
		}
		.sticky {
			top: 0;
		}
	}

	.section__sticky--left {
		display: flex;
		flex-direction: column;
	}
	.section__text--right {
		display: flex;
		flex-direction: column;
	}
}
