.card--centered {
	display: flex;
	flex-direction: column;
	grid-column: span 2;
	width: 100%;

	.card__info {
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	img {
		width: 100%;
		aspect-ratio: 16/9;
		border-radius: var(--space-xs);
		margin-bottom: var(--space-m);
	}
}

.card__color--green {
	color: var(--text-color__dark);
	background-color: var(--secondary-light);
}

.card__stroke--green {
	border: 2px solid var(--secondary);
	padding: var(--space-l);
}

.card__color--red {
	border-radius: var(--space-xs);
	color: var(--text-color__dark);
	background-color: var(--tertiary-light);
	padding: var(--space-l);
	h4 {
		margin: 0 0 var(--space-s) 0;
	}
}

.card__stroke--red {
	color: var(--off-black);
	border: 2px solid var(--tertiary);
	padding: var(--space-l);
	border-radius: var(--space-xs);
	h4 {
		color: var(--tertiary-contrast);
	}
	p {
		margin-top: var(--space-s);
	}
}

.card__color--blue {
	color: var(--text-color__dark);
	h4 {
		color: var(--quaternary-contrast);
	}
	h2 {
		color: var(--quaternary-contrast);
	}
	p {
		margin-top: var(--space-s);
	}
}

.card__info--blue {
	padding: 0 var(--space-l) 0 var(--space-2xs);

	color: var(--off-black);
	h4 {
		margin: 0 0 var(--space-s) 0;
	}

	.icon-button {
		color: var(--quaternary-contrast) !important;
	}
	h4 {
		color: var(--quaternary-contrast);
	}
}

.card__color--beige {
	color: var(--text-color__dark);
	background-color: var(--primary-leight);
}

@media (--medium) {
	.card--centered {
		grid-column: 3 span;
	}
}

@media (--small) {
	.card__stroke--red {
		padding: var(--space-s);
	}
	.card__color--red {
		padding: var(--space-s);
	}
}
