.filter {
	display: flex;
	flex-direction: column;
	grid-column: 1/7;
	position: sticky;
	top: var(--space-l);
	gap: var(--space-s);
	padding: var(--space-l) var(--space-xl) var(--space-l) var(--space-xl);
	width: 100%;
	box-shadow: 0px 10px 10px -5px var(--off-black);

	background-color: var(--off-white);
	h2 {
		color: var(--quaternary-contrast);
	}
}

.filter__container {
	display: flex;
	flex-wrap: wrap;
	gap: var(--space-xs);
}

@media (--small) {
	.filter {
		top: 0;
		padding: var(--space-s);
	}
}
